$primary-color: #14a76c // #379683 // #2d7c2a
$secondary-color: #ff652f
$tertiary-color: #ffe400

$dark-color: #393939
$dark-color-mod: #202020

$light-color: #ffffff
$light-color-mod: #f2f2f2
$light-color-mod-two: #e0e0e0

$shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24)

$radius: 4px

$media-width-first: 768px

$media-width-second: 320px